@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
@{
    var tags = String.Join(",", Model.AllTags.Select(k => k.Name));
}
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US"><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@tags" />
    <title>Don't make me think | Ramblings and rants about coding, technology and other stuff…</title>
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/prettify.css" />
    <!--[if lt IE 9]>
    <script src="/js/html5.js" type="text/javascript"></script>
    <![endif]-->
    <meta name="robots" content="noindex,follow">
    <link rel="alternate" type="application/rss+xml" title="Don't make me think » Feed" href="/feed/">
	@Html.CanonicalUrl()
</head>
<body class="home blog custom-background single-author two-column right-sidebar">
	<div id="page" class="hfeed">
		<header id="branding" role="banner">
			<hgroup>
				<h1 id="site-title"><span><a href="/" title="Don't make me think" rel="home">Don't make me think</a></span></h1>
				<h2 id="site-description">Ramblings and rants about coding, technology and other stuff…</h2>
			</hgroup>
			
			<nav id="access" role="navigation">
				<h3 class="assistive-text">Main menu</h3>
				<div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
				<div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
				<div class="menu">
                    <ul>
                        <li class="current_page_item"><a href="/">Home</a></li>                        
                        <li class="page_item page-item-2"><a href="/category">Categories</a></li>
						<li class="page_item page-item-3"><a href="/tag">Tags</a></li>
                        <li class="page_item page-item-4"><a href="/archive">Archive</a></li>
                        @*<li class="page_item page-item-5"><a href="/about">About Me</a></li>*@
                        <li class="page_item page-item-6"><a href="/feed.xml">Feed</a></li>
                    </ul>
                </div>
			</nav><!-- #access -->
		</header><!-- #branding -->
        <div id="main">
            <div id="primary" class="site-content">
                <div id="content" role="main">
                  @RenderBody()
                </div>
                <!-- #content -->
            </div>
            <!-- #primary .site-content -->
			
            <div id="secondary" class="widget-area" role="complementary">
                <aside id="text-2" class="widget widget_text">
                    <h3 class="widget-title">About me</h3>
                    <div class="textwidget">
                        <a href="/about"><img src="/images/profile/me.jpg" border="0"></a>
                        <p>Hi, i'm Christian Froehlich.</p>
                        <p>
                            I'm a passionate .NET Software Developer with over 10 years of experience in building web application and solving complex problems.
                        </p>
                        <p>I'm also interested in photography, 3D printing, beer and coffee. Check me out ;)</p>
                    </div>
                </aside>
                <aside id="text-3" class="widget widget_text">
                    <div class="textwidget">
                        <a href="https://stackoverflow.com/users/73027/codemonkeh">
                            <img src="https://stackoverflow.com/users/flair/73027.png" width="208" height="58" alt="profile for codemonkeh at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for codemonkeh at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                        </a>
                    </div>
                </aside>
                <aside id="text-4" class="widget widget_text">
                    <div class="textwidget">
                        <a href="/rss.xml" title="RSS 2.0 Feed"><img src="/images/rss-2x.png" alt="Subscribe via RSS" align="middle" height="46" width="46"><span style="padding-left: 5px;">Subscribe via RSS</span></a><br>
                    </div>
                </aside>
                <aside id="recent-posts-2" class="widget widget_recent_entries">
                    <h3 class="widget-title">Recent Posts</h3>
                    <ul>
                        @for (int i = 0; i < (Math.Min(Model.Posts.Count, 5)); i++)
                        {
                            var post = Model.Posts[i];
                            <li><a href="@post.Url">@post.Title</a></li>
                        }           
                    </ul>
                </aside>
                <!--aside id="recent-comments-2" class="widget widget_recent_comments"><h3 class="widget-title">Recent Comments</h3><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link"><a href="http://danrigby.com/2013/02/13/windows-store-developer-links-2013-02-14/" rel="external nofollow" class="url">Windows Store Developer Links – 2013-02-14 | Dan Rigby</a></span> on <a href="http://localhost/WordPress/blog/2013/02/12/designdata-makes-your-life-easier/#comment-3">DesignData makes your life easier</a></li><li class="recentcomments"><span class="comment-author-link"><a href="http://www.silverlightshow.net/news/Windows-Phone-DesignData-makes-your-life-easier.aspx" rel="external nofollow" class="url">[Windows Phone] DesignData makes your life easier</a></span> on <a href="http://localhost/WordPress/blog/2013/02/12/designdata-makes-your-life-easier/#comment-2">DesignData makes your life easier</a></li></ul>
    </aside-->
                <!--aside id="quick-flickr-widget-3" class="widget widget_quick-flickr-widget"><h3 class="widget-title">Flickr</h3>SSL is required</aside-->
                <!--aside id="archives-2" class="widget widget_archive"><h3 class="widget-title">Archives</h3>		<ul>
                        <li><a href="http://localhost/WordPress/blog/2015/07/">July 2015</a></li>
                        <li><a href="http://localhost/WordPress/blog/2013/02/">February 2013</a></li>
                        <li><a href="http://localhost/WordPress/blog/2012/11/">November 2012</a></li>
                            </ul>
    </aside-->
                <aside id="categories-2" class="widget widget_categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        @foreach (var category in Model.AllCategories)
            {
                <li class="cat-item"><a href="/category/@category.Url" title="@category" rel="tag">@category.Name</a></li>
}
                    </ul>
                </aside>
                <aside id="tags-2" class="widget widget_tags">
                    <h3 class="widget-title">Tags</h3>
                    <ul>
                        @foreach (var tag in Model.AllTags)
            {
                <li class="cat-item"><a href="/tag/@tag.Url" title="@tag" rel="tag">@tag.Name</a></li>
}
                    </ul>
                </aside>
            </div><!-- #secondary .widget-area -->

        </div>
        <!-- #main -->

		<footer id="colophon" role="contentinfo">
			<div>
			Powered by <a href="https://github.com/codemonkeh/Sandra.Snow" rel="generator">Sandra.Snow</a>. Copyright © 2018 Christian Froehlich. All rights reserved. 
			</div>
		</footer><!-- #colophon -->		
    </div>
	
    <!-- #page .hfeed .site -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src='/js/prettify.js' type='text/javascript'></script>
    
    @Html.RenderGoogleAnalytics("UA-68156920-1")
    
    <script type='text/javascript'>
      $(function () {
        $("pre code").parent().each(function () {
          if (!$(this).hasClass("prettyprint")) {
            $(this).addClass("prettyprint");
            a = true
          }
        });

        prettyPrint();
      });
    </script>
</body>
</html>
